<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   BaoYue.plist
   QianbaoIM

   Created by yanhao on 15/12/28.
   Copyright (c) 2015年 qianbao.com. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
