<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>f000</key>
	<string>[害羞]</string>
	<key>f001</key>
	<string>[f001]</string>
	<key>f002</key>
	<string>[f002]</string>
	<key>f003</key>
	<string>[f003]</string>
	<key>f004</key>
	<string>[f004]</string>
	<key>f005</key>
	<string>[f005]</string>
	<key>f006</key>
	<string>[f006]</string>
	<key>f007</key>
	<string>[闭嘴]</string>
	<key>f008</key>
	<string>[f008]</string>
	<key>f009</key>
	<string>[f009]</string>
	<key>f010</key>
	<string>[f010]</string>
	<key>f011</key>
	<string>[f011]</string>
	<key>f012</key>
	<string>[f012]</string>
	<key>f013</key>
	<string>[哈哈]</string>
	<key>f014</key>
	<string>[吃惊]</string>
	<key>f015</key>
	<string>[f015]</string>
	<key>f016</key>
	<string>[f016]</string>
	<key>f017</key>
	<string>[f017]</string>
	<key>f018</key>
	<string>[f018]</string>
	<key>f019</key>
	<string>[f019]</string>
	<key>f020</key>
	<string>[偷笑]</string>
	<key>f021</key>
	<string>[微笑]</string>
	<key>f022</key>
	<string>[f022]</string>
	<key>f023</key>
	<string>[f023]</string>
	<key>f024</key>
	<string>[f024]</string>
	<key>f025</key>
	<string>[f025]</string>
	<key>f026</key>
	<string>[f026]</string>
	<key>f027</key>
	<string>[f027]</string>
	<key>f028</key>
	<string>[f028]</string>
	<key>f029</key>
	<string>[f029]</string>
	<key>f030</key>
	<string>[f030]</string>
	<key>f031</key>
	<string>[f031]</string>
	<key>f032</key>
	<string>[f032]</string>
	<key>f033</key>
	<string>[f033]</string>
	<key>f034</key>
	<string>[f034]</string>
	<key>f035</key>
	<string>[f035]</string>
	<key>f036</key>
	<string>[f036]</string>
	<key>f037</key>
	<string>[f037]</string>
	<key>f038</key>
	<string>[f038]</string>
	<key>f039</key>
	<string>[f039]</string>
	<key>f040</key>
	<string>[f040]</string>
	<key>f041</key>
	<string>[扣鼻屎]</string>
	<key>f042</key>
	<string>[f042]</string>
	<key>f043</key>
	<string>[f043]</string>
	<key>f044</key>
	<string>[f044]</string>
	<key>f045</key>
	<string>[f045]</string>
	<key>f046</key>
	<string>[f046]</string>
	<key>f047</key>
	<string>[f047]</string>
	<key>f048</key>
	<string>[f048]</string>
	<key>f049</key>
	<string>[f049]</string>
	<key>f050</key>
	<string>[失望]</string>
	<key>f051</key>
	<string>[挤眼]</string>
	<key>f052</key>
	<string>[f052]</string>
	<key>f053</key>
	<string>[f053]</string>
	<key>f054</key>
	<string>[可怜]</string>
	<key>f055</key>
	<string>[f055]</string>
	<key>f056</key>
	<string>[f056]</string>
	<key>f057</key>
	<string>[f057]</string>
	<key>f058</key>
	<string>[f058]</string>
	<key>f059</key>
	<string>[f059]</string>
	<key>f060</key>
	<string>[f060]</string>
	<key>f061</key>
	<string>[f061]</string>
	<key>f062</key>
	<string>[f062]</string>
	<key>f063</key>
	<string>[f063]</string>
	<key>f064</key>
	<string>[f064]</string>
	<key>f065</key>
	<string>[f065]</string>
	<key>f066</key>
	<string>[f066]</string>
	<key>f067</key>
	<string>[f067]</string>
	<key>f068</key>
	<string>[f068]</string>
	<key>f069</key>
	<string>[f069]</string>
	<key>f070</key>
	<string>[f070]</string>
	<key>f071</key>
	<string>[f071]</string>
	<key>f072</key>
	<string>[f072]</string>
	<key>f073</key>
	<string>[f073]</string>
	<key>f074</key>
	<string>[f074]</string>
	<key>f075</key>
	<string>[f075]</string>
	<key>f076</key>
	<string>[f076]</string>
	<key>f077</key>
	<string>[f077]</string>
	<key>f078</key>
	<string>[f078]</string>
	<key>f079</key>
	<string>[f079]</string>
	<key>f080</key>
	<string>[鄙视]</string>
	<key>f081</key>
	<string>[f081]</string>
	<key>f082</key>
	<string>[f082]</string>
	<key>f083</key>
	<string>[f083]</string>
	<key>f084</key>
	<string>[f084]</string>
	<key>f085</key>
	<string>[f085]</string>
	<key>f086</key>
	<string>[f086]</string>
	<key>f087</key>
	<string>[f087]</string>
	<key>f088</key>
	<string>[f088]</string>
	<key>f089</key>
	<string>[f089]</string>
	<key>f090</key>
	<string>[可爱]</string>
	<key>f091</key>
	<string>[花心]</string>
	<key>f092</key>
	<string>[f092]</string>
	<key>f093</key>
	<string>[f093]</string>
	<key>f094</key>
	<string>[f094]</string>
	<key>f095</key>
	<string>[f095]</string>
	<key>f096</key>
	<string>[f096]</string>
	<key>f097</key>
	<string>[f097]</string>
	<key>f098</key>
	<string>[f098]</string>
	<key>f099</key>
	<string>[f099]</string>
</dict>
</plist>
